.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 40vmin;  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Buttons **/

.btn {
  border-color: #1aa34a;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  text-transform: uppercase;
  transition: all 0.25s ease;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  background-color: #1db954;
  letter-spacing: 2px;
  min-width: 250px;
}

.btn:hover {
  color: #fff;
  background-color: #1ed760;;
}

.btn--login {
  margin: 0 auto;
}